<div class="jumbotron">
  <h2> M TodoList ! Free to use </h2>
  <br>
  <h4> Mangae our lifes in the easest way<h4>
  <br>
  <%= link_to "Sign_up", new_user_registration_path, class: "btn btn-danger" %>
</div>